* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: rgba(167, 131, 78, 0.712);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(238, 235, 226, 0.788);
    margin-top: 110px;
}
.all{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 60vw;
    height: 60vh;
}
.hr {
    width: 30vw;
    height: 2vh;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-around;
}
.hr_1{
    background-color: rgba(240, 228, 198, 0.788);
    height: 1px;
}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: calc(24px + 16 * (100vw / 1280));
} 
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 10px;
    font-size: clamp(16px, 3vw, 20px);
}
@media (min-width: 767px){
    p {
     font-size: calc(24px + (16px, 3vw, 20px) * ((100vw - 320px)/1280));
    }
   }
   
